
label{
    display: inline-block;
    float: left;
    clear: left;
    width: 250px;
    text-align: left;
    font-size: larger;
}
#longBoneSelections{
    
    
    
    
    text-align: left;
}

input {
  display: inline-block;
  text-align: right ;
  
}

table {
    width: 75%;
}


td {
    width: auto;
    border-width: thick;
    border-color: #000;
    border-style: double ;
    
}

select {
    text-align: right ;
    
    
}

